QPoisson/GeneratedFiles/qrc_qpoisson.cpp
QPoisson/GeneratedFiles/Release/moc_dstImg.cpp
QPoisson/GeneratedFiles/Release/moc_qpoisson.cpp
QPoisson/GeneratedFiles/Release/moc_srcImg.cpp
QPoisson/Release/dstImg.obj
QPoisson/Release/Icon.res
QPoisson/Release/main.obj
QPoisson/Release/mat.obj
QPoisson/Release/moc_dstImg.obj
QPoisson/Release/moc_qpoisson.obj
QPoisson/Release/moc_srcImg.obj
QPoisson/Release/QPoisson.log
QPoisson/Release/qpoisson.obj
QPoisson/Release/QPoisson.pch
QPoisson/Release/qrc_qpoisson.obj
QPoisson/Release/srcImg.obj
QPoisson/Release/stdafx.obj
QPoisson/Release/QPoisson.tlog/cl.command.1.tlog
QPoisson/Release/QPoisson.tlog/CL.read.1.tlog
QPoisson/Release/QPoisson.tlog/CL.write.1.tlog
QPoisson/Release/QPoisson.tlog/custombuild.command.1.tlog
QPoisson/Release/QPoisson.tlog/custombuild.read.1.tlog
QPoisson/Release/QPoisson.tlog/custombuild.write.1.tlog
QPoisson/Release/QPoisson.tlog/link.command.1.tlog
QPoisson/Release/QPoisson.tlog/link.read.1.tlog
QPoisson/Release/QPoisson.tlog/link.write.1.tlog
QPoisson/Release/QPoisson.tlog/QPoisson.lastbuildstate
QPoisson/Release/QPoisson.tlog/QPoisson.write.1u.tlog
QPoisson/Release/QPoisson.tlog/rc.command.1.tlog
QPoisson/Release/QPoisson.tlog/rc.read.1.tlog
QPoisson/Release/QPoisson.tlog/rc.write.1.tlog
Win32/Release/QPoisson.exe
Win32/Release/QPoisson.exp
Win32/Release/QPoisson.lib
QPoisson.sdf
QPoisson.v12.suo
QPoisson/debug/dstImg.obj
QPoisson/debug/main.obj
QPoisson/debug/mat.obj
QPoisson/debug/moc_dstImg.cpp
QPoisson/debug/moc_qpoisson.cpp
QPoisson/debug/moc_srcImg.cpp
QPoisson/debug/qpoisson.obj
QPoisson/debug/qpoisson.pdb
QPoisson/debug/srcImg.obj
QPoisson/debug/stdafx.obj
QPoisson/Makefile
QPoisson/Makefile.Debug
QPoisson/Makefile.Release
ipch/qpoisson-bc88199a/qpoisson-2d065d02.ipch
QPoisson/QPoisson.vcxproj
QPoisson/QPoisson.vcxproj.user
QPoisson/Release/QPoisson.Build.CppClean.log
QPoisson.opensdf
QPoisson/debug/icudt53.dll
QPoisson/debug/icuin53.dll
QPoisson/debug/icuuc53.dll
QPoisson/debug/moc_dstImg.obj
QPoisson/debug/moc_qpoisson.obj
QPoisson/debug/moc_srcImg.obj
QPoisson/debug/QPoisson.exe
QPoisson/debug/QPoisson.ilk
QPoisson/debug/qt_ca.qm
QPoisson/debug/qt_cs.qm
QPoisson/debug/qt_de.qm
QPoisson/debug/qt_fi.qm
QPoisson/debug/qt_hu.qm
QPoisson/debug/qt_it.qm
QPoisson/debug/qt_ja.qm
QPoisson/debug/qt_ko.qm
QPoisson/debug/qt_lv.qm
QPoisson/debug/qt_ru.qm
QPoisson/debug/qt_sk.qm
QPoisson/debug/qt_uk.qm
QPoisson/debug/Qt5Cored.dll
QPoisson/debug/Qt5Guid.dll
QPoisson/debug/Qt5Svgd.dll
QPoisson/debug/Qt5Widgetsd.dll
QPoisson/debug/iconengines/qsvgicond.dll
QPoisson/debug/imageformats/qddsd.dll
QPoisson/debug/imageformats/qgifd.dll
QPoisson/debug/imageformats/qicnsd.dll
QPoisson/debug/imageformats/qicod.dll
QPoisson/debug/imageformats/qjp2d.dll
QPoisson/debug/imageformats/qjpegd.dll
QPoisson/debug/imageformats/qmngd.dll
QPoisson/debug/imageformats/qsvgd.dll
QPoisson/debug/imageformats/qtgad.dll
QPoisson/debug/imageformats/qtiffd.dll
QPoisson/debug/imageformats/qwbmpd.dll
QPoisson/debug/imageformats/qwebpd.dll
QPoisson/debug/platforms/qwindowsd.dll
QPoisson/Release/QPoisson.tlog/unsuccessfulbuild
QPoisson/GeneratedFiles/ui_QPoisson.h
QPoisson/Release/QPoisson.tlog/moc.read.1u.tlog
QPoisson/Release/QPoisson.tlog/moc.write.1u.tlog
QPoisson/Release/QPoisson.tlog/rcc.read.1u.tlog
QPoisson/Release/QPoisson.tlog/rcc.write.1u.tlog
QPoisson/Release/QPoisson.tlog/uic.read.1u.tlog
QPoisson/Release/QPoisson.tlog/uic.write.1u.tlog
QPoisson/debug/QPoisson.Build.CppClean.log
QPoisson/debug/QPoisson.log
QPoisson/debug/qrc_QPoisson.obj
QPoisson/debug/qt_work.log
QPoisson/debug/vc120.pdb
QPoisson/debug/QPoisson.tlog/cl.command.1.tlog
QPoisson/debug/QPoisson.tlog/CL.read.1.tlog
QPoisson/debug/QPoisson.tlog/cl.write.1.tlog
QPoisson/debug/QPoisson.tlog/link.command.1.tlog
QPoisson/debug/QPoisson.tlog/link.read.1.tlog
QPoisson/debug/QPoisson.tlog/link.write.1.tlog
QPoisson/debug/QPoisson.tlog/moc.read.1u.tlog
QPoisson/debug/QPoisson.tlog/moc.write.1u.tlog
QPoisson/debug/QPoisson.tlog/QPoisson.lastbuildstate
QPoisson/debug/QPoisson.tlog/QPoisson.write.1u.tlog
QPoisson/debug/QPoisson.tlog/rcc.read.1u.tlog
QPoisson/debug/QPoisson.tlog/rcc.write.1u.tlog
QPoisson/debug/QPoisson.tlog/uic.read.1u.tlog
QPoisson/debug/QPoisson.tlog/uic.write.1u.tlog
QPoisson/GeneratedFiles/Debug/moc_dstImg.cpp
QPoisson/GeneratedFiles/Debug/moc_QPoisson.cpp
QPoisson/GeneratedFiles/Debug/moc_srcImg.cpp
Win32/Debug/QPoisson.exe
Win32/Debug/QPoisson.ilk
Win32/Debug/QPoisson.pdb
QPoisson/Release/qt_work.log
.vs/*
Debug/*
Release/*
QPoisson/debug/*
QPoisson/Release/*
QPoisson/qpoisson.aps
QPoisson/Resources/Icon.aps
QPoisson/resource.h
rename.sh
