QPoisson/GeneratedFiles/qrc_qpoisson.cpp
QPoisson/GeneratedFiles/Release/moc_dstImg.cpp
QPoisson/GeneratedFiles/Release/moc_qpoisson.cpp
QPoisson/GeneratedFiles/Release/moc_srcImg.cpp
QPoisson/Release/dstImg.obj
QPoisson/Release/Icon.res
QPoisson/Release/main.obj
QPoisson/Release/mat.obj
QPoisson/Release/moc_dstImg.obj
QPoisson/Release/moc_qpoisson.obj
QPoisson/Release/moc_srcImg.obj
QPoisson/Release/QPoisson.log
QPoisson/Release/qpoisson.obj
QPoisson/Release/QPoisson.pch
QPoisson/Release/qrc_qpoisson.obj
QPoisson/Release/srcImg.obj
QPoisson/Release/stdafx.obj
QPoisson/Release/QPoisson.tlog/cl.command.1.tlog
QPoisson/Release/QPoisson.tlog/CL.read.1.tlog
QPoisson/Release/QPoisson.tlog/CL.write.1.tlog
QPoisson/Release/QPoisson.tlog/custombuild.command.1.tlog
QPoisson/Release/QPoisson.tlog/custombuild.read.1.tlog
QPoisson/Release/QPoisson.tlog/custombuild.write.1.tlog
QPoisson/Release/QPoisson.tlog/link.command.1.tlog
QPoisson/Release/QPoisson.tlog/link.read.1.tlog
QPoisson/Release/QPoisson.tlog/link.write.1.tlog
QPoisson/Release/QPoisson.tlog/QPoisson.lastbuildstate
QPoisson/Release/QPoisson.tlog/QPoisson.write.1u.tlog
QPoisson/Release/QPoisson.tlog/rc.command.1.tlog
QPoisson/Release/QPoisson.tlog/rc.read.1.tlog
QPoisson/Release/QPoisson.tlog/rc.write.1.tlog
Win32/Release/QPoisson.exe
Win32/Release/QPoisson.exp
Win32/Release/QPoisson.lib
QPoisson.sdf
QPoisson.v12.suo
QPoisson/debug/dstImg.obj
QPoisson/debug/main.obj
QPoisson/debug/mat.obj
QPoisson/debug/moc_dstImg.cpp
QPoisson/debug/moc_qpoisson.cpp
QPoisson/debug/moc_srcImg.cpp
QPoisson/debug/qpoisson.obj
QPoisson/debug/qpoisson.pdb
QPoisson/debug/srcImg.obj
QPoisson/debug/stdafx.obj
QPoisson/Makefile
QPoisson/Makefile.Debug
QPoisson/Makefile.Release
ipch/qpoisson-bc88199a/qpoisson-2d065d02.ipch
QPoisson/QPoisson.vcxproj
QPoisson/QPoisson.vcxproj.user
QPoisson/Release/QPoisson.Build.CppClean.log
